[submodule "external/boost"]
	path = external/boost
	url = https://github.com/callsvc/boost.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls
